body {
    margin: 0em;
    padding: 0em;
    background-color: #fffaf3;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restaurantname {
    width:96;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.restaurantlogo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(250, 121, 36);
}
.trademark {
    height: 5em;
    width: 44em;
    display:flex;
    justify-content: center;
    flex-direction: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;

}
.worldfood {
    height:25em;
    width: 26em;
}
.logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.lema {
    height: 4em;
    width: 94em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger {
    height: 3em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.name1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.businessname {
    width: 30em;
    font-size: 3em;
    color:rgb(255, 129, 45);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
